@import "../../../scss/config.scss";
.ChairSelect {
}
.ChairSelect__title {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;

  color: #292929;
  margin-bottom: 62px;
}
.ChairSelect__row {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.ChairSelect__top {
}
.ChairSelect-top {
  height: 128px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 19px;
  padding-right: 19px;
}
.ChairSelect-top__icon {
  width: 76px;
  height: 60px;
  background: $primary;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  &.icon-arrowR {
    font-size: 30px;
    color: white;
  }
}
.ChairSelect-top__another-train {
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #292929;

  width: 325px;
  height: 60px;

  border: 1px solid #292929;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ChairSelect__ticket {
}
.ChairSelect-ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ChairSelect-ticket__train-info {
}
.train-info {
  display: flex;
  align-items: center;
  background: #f7f6f6;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 20px;
}
.train-info__icon {
  margin-left: 35px;
  width: 30px;
  height: 30px;
  border: 2px solid $primary;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 27px;
  &.icon-trainIcon {
    font-size: 30px;
    color: $primary;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.train-info__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}
.train-info__item {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  display: flex;
  align-items: center;
  // margin-bottom: 3px;
  // &:last-child {
  //   margin-bottom: 0;
  // }
  &.icon-arrowRMini::before {
    order: 2;
    margin-left: 8px;
  }
}
.train-info__number {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #3e3c41;
  margin-bottom: 8px;
}
.train-info__where {
  color: #928f94;
}

.train-info__finish {
}
.ChairSelect-ticket__row-time-table {
  flex: 1 1 auto;
  margin-left: 2px;
  margin-right: 2px;
  background: #f7f6f6;
  height: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-top: 28px;
  // padding-bottom: 28px;
  padding-left: 36px;
  padding-right: 36px;
}
.ChairSelect-ticket__item-time-table {
  &.timetable__item {
  }
  .timetable__time {
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  .timetable__city-name {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }
  .timetable__railway-station {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #928f94;
    margin-bottom: 0px;
  }
}

.ChairSelect-ticket__arrow {
  &.icon-arrowR {
    font-size: 30px;
    color: rgba(255, 168, 0, 0.79);
  }
}
.ChairSelect-ticket__length {
}
.length {
  max-width: 237px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #f7f6f6;
  height: 127px;
  padding-left: 35px;
  padding-right: 35px;
}
.length__icon {
  width: 30px;
  height: 30px;
  background-image: url("./img/clockIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}
.length__list {
  display: flex;
  flex-direction: column;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
.length__hour {
}
.length__minutes {
}
.ChairSelect__numberOfTickets {
}
.ChairSelect-number-of-tickets {
  border-bottom: 1px dashed #c4c4c4;
}
.ChairSelect-number-of-tickets__title {
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #292929;
  margin-top: 40px;
  margin-left: 19px;
  margin-bottom: 13px;
}
.ChairSelect-number-of-tickets__row {
  display: flex;
  margin-bottom: 49px;
}
.ChairSelect-number-of-tickets__item {
  width: 33.33%;
  &.item {
    height: 192px;
    padding: 20px 36px;
    &.adult {
      background: #f7f6f6;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    &.children {
      border: 1px solid rgba(255, 168, 0, 0.79);
      .item__description {
        color: #928f94;
      }
    }
  }
  .item__count {
    width: 240px;
    height: 50px;

    background: #ffffff;
    border: 1px solid #928f94;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding-left: 17px;
    align-items: center;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #292929;
    margin-bottom: 23px;
  }
  .item__description {
    max-width: 240px;
    width: 100%;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
.ChairSelect__wagonType {
}
.ChairSelect-wagon-type {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #928f94;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  .sedentart {
    &::before {
      content: url("./img/wagonType/sedentary.svg");
      width: 30.43px;
      height: 50px;
      margin-bottom: 18px;
    }
  }
  .reservedSeat {
    &::before {
      content: url("./img/wagonType/reservedSeat.svg");
      width: 50px;
      height: 50px;
      margin-bottom: 18px;
    }
  }
  .coupe {
    &::before {
      content: url("./img/wagonType/coupe.svg");
      width: 50px;
      height: 50px;
      margin-bottom: 18px;
    }
  }
  .luxury {
    &::before {
      content: url("./img/wagonType/luxury.svg");
      width: 56.45px;
      height: 50px;
      margin-bottom: 18px;
    }
  }
}
.ChairSelect-wagon-type__title {
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  color: #292929;
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 25px;
}
.ChairSelect-wagon-type__row {
  display: flex;
  padding-left: 35px;
  padding-right: 144px;
  justify-content: space-between;
  margin-bottom: 26px;
}
.ChairSelect__Wagon {
}
