.PassangerInfoList {
  width: 100%;
  margin-top: 45px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  .PassangerInfoList__row {
    display: flex;
    justify-content: flex-start;
  }
  .PassangerInfoList__List {
    border-right: 1px dashed #e5e5e5;
    width: 68.8%;
    padding-bottom: 60px;
    padding-top: 30px;
  }
  .PassangerInfoList__Item {
    border-bottom: 1px dashed #e5e5e5;
  }
  .PassangerInfoList__Price {
    width: 31.2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 40px;
    padding-left: 25px;
    margin-bottom: 30px;
  }
  .PassangerInfoList__Price-control {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .PassangerInfoList__Price-info {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #292929;
    margin-bottom: 28px;
    span {
      font-weight: 700;
    }
  }
  .PassangerInfoList__title {
    padding: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    border-bottom: 1px solid #c4c4c4;

    color: #292929;
  }
}
