@import "../../../scss/config.scss";
.Scheme {
  padding-left: 21px;
  padding-right: 17px;
}
.Scheme__info {
  width: 199px;
  margin-left: auto;
  margin-right: 25px;
  margin-top: 4px;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #292929;

  background: #f3f3f3;
  border-radius: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Scheme__block {
  position: relative;
}
.Scheme__img {
  width: 921px;
  height: 145px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &.coupe {
    background-image: url("./img/coupe_img.jpg");
  }
  &.ReservedSeat {
    background-image: url("./img/ReservedSeat_img.jpg");
  }
  &.Luxe {
    background-image: url("./img/luxe_img.jpg");
  }
  &.Sedentary {
    background-image: url("./img/sedentary_img.jpg");
  }
}
.Scheme__designations {
}
.designations {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.designations__row {
  display: flex;

  margin-top: 30px;
  justify-content: flex-start;
  padding-left: 131px;
  // margin-left: 33px;
}
.designations__coupe-row {
  display: flex;
  justify-content: space-between;
  width: 88px;

  margin-right: 2px;

  &:last-child {
    margin-right: 0;
  }
}
.designations__coupe_side {
  display: flex;
  flex-direction: column;
  width: 28px;
}

.designations__seat {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  background-color: #e5e5e5;
  color: black;
  cursor: pointer;
  &:hover {
    border: 2px solid $primary;
  }
  //background-color: #e5e5e5;
  &.top {
    height: 31px;
    order: 1;
  }
  &.none {
    display: none;
  }
}
.ReservedSeat {
  &.designations__coupe-row {
    height: 107px;
    flex-direction: column;
    justify-content: space-between;
  }

  .row {
    display: flex;
  }
  .designations__coupe_side {
    width: 29px;
    .top {
    }
  }
  .designations__seat {
    height: 31px;
  }

  .designations__coupe_bottom {
    display: flex;
    justify-content: space-between;
    .designations__seat {
      width: 50%;
      height: 23px;
    }
  }
}
.Luxe {
  &.designations__coupe-row {
  }

  .designations__coupe_side {
  }
  .designations__seat {
    height: 58px;
    align-items: flex-end;
    padding-bottom: 5px;
  }
  .top {
  }
}
.Sedentary {
  &.designations__coupe-row {
    height: 107px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0px;
  }
  .designations__coupe_side {
  }
  .designations__coupe_row {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 13px;
    padding-right: 3px;
    display: flex;
    justify-content: space-between;
  }
  .designations__seat {
    width: 26px;
    height: 18px;
    margin-bottom: 4px;
    font-size: 13px;
    order: 1;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.designations__wagon-number {
  position: absolute;
  width: 33px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  left: 40px;
}
