@import "../../../scss/config.scss";
.header {
  position: relative;
  height: 985px;
  background-image: url("./img/header-first_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header__line {
  width: 100%;
  height: 8px;
  bottom: 0;
  background: $primary;
}
.header__logo {
  padding-left: 28px;
  padding-right: 28px;
  background: rgba(41, 41, 41, 0.6);
  padding-bottom: 15px;
}
.logo {
  margin-top: 8px;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #e5e5e5;
}
.header-nav {
}
.nav {
  height: 94px;
  background: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__row {
  display: flex;
  justify-content: flex-start;
  padding-left: 28px;
  padding-right: 28px;
}
.nav__item {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  margin-right: 90px;
  color: #ffffff;
  margin-bottom: 17px;
}
.header__body {
  flex: 1 1 auto;
}
.header__form {
  justify-content: flex-end;
}
.selectTrain {
  &.header {
    height: 596px;
    background-image: url("./img/selectTrain_background.jpg");
  }
}
