@import "../../../scss/config.scss";
.PassengerCard {
  display: flex;
  flex-direction: column;
  .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    display: none;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }
}
.PassengerCard__top {
  width: 100%;
  display: flex;
  align-items: center;
  height: 107px;
  background: #f9f9f9;
  padding-left: 23px;
  padding-right: 40px;
}
.PassengerCard__top-iconBtn {
  margin-right: 16px;
}
.PassengerCard__top-text {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #292929;
  flex: 1 1 auto;
}
.PassengerCard__top-iconExit {
  transform: rotate(45deg);
  &.icon-pluse::before {
    font-size: 16px;
  }
}
.PassengerCard__form {
  label {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #928f94;
  }
  .input {
    background: #ffffff;
    border: 1px solid #928f94;
    border-radius: 5px;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #292929;

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    &.name {
      max-width: 281px;
    }
    &.passport {
      padding-left: 16px;
      padding-right: 16px;
      max-width: 205px;
      letter-spacing: 5px;
    }
    &.birthCertificate {
      padding-left: 16px;
      padding-right: 16px;
      max-width: 300px;
      letter-spacing: 1px;
    }
  }
  .input-date {
    background: #ffffff;
    border: 1px solid #928f94;
    border-radius: 5px;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #292929;

    width: 281px;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
  }
  .checkbox {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #292929;
    input {
    }
    .ant-checkbox {
      margin-right: 12px;
    }
    .ant-checkbox-inner {
      width: 28px;
      height: 28px;

      //background: #ffffff;
      border: 1px solid #928f94;
      box-sizing: border-box;
      border-radius: 5px;

      // position: relative;
      // top: -2px;
    }
  }
}
.PassengerCard-form {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  padding-top: 38px;
  padding-left: 36px;
  padding-right: 31px;
  padding-bottom: 28px;
}
.PassengerCard-form__select {
  height: 50px;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  // padding-left: 2px;
  // padding-right: 11px;
  color: #292929;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;

  //box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 45px;
  &.age {
    width: 280px;
  }

  &.passport {
    width: 205px;
  }
  &.birthCertificate {
    width: 444px;
  }
}
.PassengerCard-form__select-dropdown {
  &.type {
    min-width: 444px !important;
  }
  .ant-select-item {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: inherit;
  }
}
.PassengerCard-form__gender {
  width: 204px;
  height: 50px;

  background: #ffffff;
  border: 1px solid #928f94;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  margin-right: 35px;
  .PassengerCard-form__gender-buttn {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;

    color: #000000;
    &.ant-radio-group-solid,
    &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: #000000;
      background: $primary;
      border-color: inherit;
    }
    &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
      display: none;
    }
  }
}
