@import "../../../scss/config.scss";
.SearchCity {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;

  /* identical to box height */
  color: black;
  display: flex;
  align-items: center;

  .input {
    margin-left: 7px;
    width: 100%;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
  }
  .row-City {
    position: absolute;
    width: 100%;
    background: #f5f4f6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 14px 0px;
    top: 68px;
    left: 0px;
    z-index: 3;
  }
  .item-City {
    font-size: 18px;
    line-height: 21px;
    font-variant: small-caps;
    text-transform: uppercase;
    padding: 7px 28px;
    text-transform: capitalize;
  }
}
